@import "bourbon";
@import "vars.scss";
@import "../libs/lightslider/dist/css/lightslider.min.css";
@import "../libs/fancyBox/jquery.fancybox.css";


body{
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "Arial", sans-serif;
	overflow-x: hidden;
	background-color: #fff;
}
.inner{
	max-width: 3508px;
	margin: 0 auto;
}
a,button,input,textarea{
	text-decoration: none;
	outline: 0;
	border: 0;
	@include transition(color 0.4s ease, background-color 0.4s ease, border-color 0.4s ease);
	&:focus{
		outline: 0;
		border: 0;
	}
}

button{
	&:hover{
		cursor: pointer;
	}
}

.hidden{
	display: none;
}
header{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    position: relative;
}
.pelena{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background-color: rgba(0,0,0, .4);
}
.logo{
	padding-top: 20px;
	margin-bottom: 35px;
	max-width: 330px;
	a{
		display: block;
	}
	img{
		width: 100%;
	}
}
.pogoda{
	max-width: 330px;
	img{
		width: 100%;
	}
}

.social{
	display: inline-block;
	li{
		float: left;
	}
	a{
		display: block;
		width: 60px;
		height: 60px;
		background-size: cover;
		margin-top: 15px;
		margin-left: 10px ;
		margin-right: 10px;
	}
}

.news{
	border: 2px solid #626d73;
	margin-top: 20px;
	max-width: 330px;
    min-height: 250px;
    margin-bottom: 25px;
}
.calendar{
	display: inline-block;
	text-align: center;
	a{
		width: 94px;
		height: 106px;
		padding-top: 35px;
		background-image: url("../img/data.png");
		display: block;
		color: #fff;
		margin: 15px;
		&:hover{
			text-decoration: none;
		}
	}
}
.telefon{
  font-size:22px;
  position: relative;
  margin-right: 5px;
  color: #fff;

  span{

    padding-left: 10px;
    padding-right: 10px;
  }
  p{
    padding-top: 5px;
    text-transform: uppercase;
  }
  &:after{
    position: absolute;
    content: '';
    left: -48px;
    top: 0;
    width: 44px;
    height: 42px;
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
.news-title{
	font-family:Arial;
	display: inline-block;
	vertical-align: top;
	padding-top: 78px;
	width: 55%;
	h2{
		color: #ceeafb;
		font-size: 30px;
		text-transform: uppercase;
		font-weight:bold;
		line-height: 46px;

	}
}

.news-menu{
	text-align: center;
	a{
		color: #767674;
		font-size:20px;
		display: block;
		&:hover{
			color: #745628;
		}
	}
}




.top-menu{
	margin-top: 20px;
	text-align: center;
	ul:last-child{
		display: inline-block;
	}
	li{
		float: left;
		position: relative;
		&:first-child:after{
			transform: skewX(40deg);
		}
		&:last-child:before{
			content: '';
			position: absolute;
			right: -8px;
			top: 0;
			width: 8px;
			height: 22px;
			border-radius: 8px;
			background-color: #fcb040;
			transform: skewX(-40deg);

		}
		&:after{
			content: '';
			position: absolute;
			left: -8px;
			top: 0;
			width: 8px;
			height: 22px;
			border-radius: 8px;
			background-color: #fcb040;
		}
	}
	a{
		display: block;
		font-weight:bold;
		text-transform: uppercase;
		font-size: 16px;
		color:#fff;
		padding-left: 10px;
		padding-right: 16px;
		&:hover{
			color: #005e50;
			text-decoration: none;
		}
	}
}