*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

footer {
  background-color: #2b1501;
  background-image: url("../img/footer-bg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 266px; }

.main-container {
  position: relative;
  margin-top: 145px; }

.home-menu {
  font-family: 'CyrillicCooper', arial; }
  .home-menu li {
    float: left;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: top;
    -webkit-border-radius: 550px;
    border-radius: 550px;
    margin-left: 5px;
    margin-right: 6px;
    margin-bottom: 65px;
    background-position: center left; }
  .home-menu a {
    min-width: 251px;
    width: 100%;
    display: block;
    text-align: center;
    min-height: 249px;
    max-height: 266px;
    text-shadow: 0px 0px 10px white, 0em 0em 0em white; }
  .home-menu span {
    display: block;
    text-align: center;
    font-size: 31px;
    text-transform: uppercase;
    position: absolute;
    bottom: 7px;
    left: 54px; }

.hunt {
  background-color: rgba(255, 176, 64, 0.5); }

body .mushrooms {
  background-size: 109%; }

body .fish {
  background-position: center left; }

.footer-menu ul {
  margin-right: 50px;
  margin-top: 20px; }

.footer-menu li {
  float: left; }
  .footer-menu li:last-child:before {
    position: absolute;
    right: 24px;
    top: 30px;
    content: '';
    width: 60px;
    height: 29px;
    background-image: url("../img/crb.png");
    background-repeat: no-repeat;
    background-size: 100%; }

.footer-menu a {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-size: 22px;
  color: #fff;
  padding-left: 50px;
  padding-right: 25px; }
  .footer-menu a:after {
    position: absolute;
    left: -13px;
    top: 10px;
    content: '';
    width: 60px;
    height: 29px;
    background-image: url("../img/crb.png");
    background-repeat: no-repeat;
    background-size: 100%; }
  .footer-menu a:hover {
    color: #fcb040;
    text-decoration: none; }

.summer-title {
  font-family: 'CyrillicCooper', arial; }
  .summer-title h2 {
    font-size: 35px;
    color: #005e50;
    text-shadow: 0px 0px 10px white, 0em 0em 0em white;
    text-transform: uppercase; }

.category {
  background-color: #d9d9d9;
  padding: 10px;
  margin-bottom: 20px; }
  .category p {
    padding: 5px 5px 28px 5px; }

.sum-slider {
  border: 5px solid #ceeafb; }

body .sum-slider .lSSlideOuter .lSGallery li, .lSSlideOuter .lightSlider > * {
  max-height: 230px;
  margin-top: 10px; }
  body .sum-slider .lSSlideOuter .lSGallery li img, .lSSlideOuter .lightSlider > * img {
    width: 100%;
    height: 100%; }

body .lSSlideOuter .lSPager, .lSSlideOuter .lightSlider {
  height: 220px !important;
  background-color: #ceeafb; }

body .lSSlideOuter .lSPager.lSpg {
  display: none; }

body .lSAction > a {
  height: 89%;
  width: 50px;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: none;
  opacity: 1;
  top: 24px; }

body .lSAction > .lSPrev {
  left: 0;
  background-image: url("../img/arrow1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; }

body .lSAction > .lSNext {
  right: 0;
  background-image: url("../img/arrow2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; }

.new-title a {
  float: left;
  margin: 5px;
  width: 44px;
  height: 56px;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 15px;
  font-size: 10.1px; }

.new-title h2 {
  font-size: 30px;
  color: #ceeafb;
  text-transform: uppercase;
  font-family: 'CyrillicCooper', arial;
  letter-spacing: 1px;
  text-shadow: 0px 0px 10px #2b1501, 0em 0em 0em #2b1501;
  display: inline-block;
  vertical-align: top; }

.news-checklist {
  padding: 10px 5px 5px 10px; }
  .news-checklist a {
    color: #005e50;
    font-size: 23px; }
    .news-checklist a:hover {
      text-decoration: none;
      color: #f2780c; }
  .news-checklist p {
    font-size: 18px;
    line-height: 24px; }

.data {
  color: #f2780c;
  font-size: 18px; }

.buttons {
  padding: 15px;
  display: inline; }
  .buttons a {
    background-color: #005e50;
    color: #fff;
    padding: 5px 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px; }
    .buttons a:hover {
      text-decoration: none;
      color: #f2780c; }

.bredcrambs {
  position: absolute;
  top: -35px;
  left: 0; }
  .bredcrambs li {
    float: left; }
  .bredcrambs a {
    color: #fff;
    padding-right: 15px;
    font-size: 16px;
    position: relative; }
    .bredcrambs a:after {
      content: '';
      position: absolute;
      right: 6px;
      top: 3px;
      width: 2px;
      height: 81%;
      background-color: #fff;
      -webkit-transform: skewX(-13deg);
      -ms-transform: skewX(-13deg);
      transform: skewX(-13deg); }
    .bredcrambs a:hover {
      color: #fcb040; }
    .bredcrambs a:active {
      color: #fcb040; }

.in-news {
  padding: 10px; }
  .in-news .data {
    color: #000; }
  .in-news h2 {
    font-weight: bold;
    font-size: 27px; }
  .in-news img {
    max-width: 400px;
    height: 275px;
    float: right; }

.reviews .data {
  color: #000; }

.reviews h2 {
  font-weight: bold;
  font-size: 25px;
  color: #1a1a18; }

body .forma {
  display: inline-block;
  max-width: 470px; }
  body .forma input {
    display: inline-block;
    width: 100%;
    margin-bottom: 8px; }
    body .forma input::-webkit-input-placeholder {
      color: #d9dada;
      padding-left: 15px; }
    body .forma input::-moz-placeholder {
      color: #d9dada;
      padding-left: 15px; }
    body .forma input:-moz-placeholder {
      color: #d9dada;
      padding-left: 15px; }
    body .forma input:-ms-input-placeholder {
      color: #d9dada;
      padding-left: 15px; }
  body .forma h3 {
    color: #10453D;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px; }
  body .forma textarea {
    width: 100%;
    padding-left: 15px; }
    body .forma textarea #placeholder {
      display: block !important; }
    body .forma textarea::-webkit-input-placeholder {
      color: #d9dada;
      display: block !important; }
    body .forma textarea::-moz-placeholder {
      color: #d9dada;
      display: block !important; }
    body .forma textarea:-moz-placeholder {
      color: #d9dada;
      display: block !important; }
    body .forma textarea:-ms-input-placeholder {
      color: #d9dada;
      display: block !important; }
  body .forma button {
    background-color: #f2780c;
    color: #fff;
    width: 100%;
    margin-bottom: 10px; }
    body .forma button:hover {
      color: #10453d; }

.capcha {
  background-color: #fff;
  margin-top: 38px;
  min-height: 50px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 10px; }

.title h2 {
  font-size: 35px;
  color: #f2780c;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'CyrillicCooper', arial;
  text-shadow: 0px 0px 10px #2b1501, 0em 0em 0em #2b1501; }

.foto li {
  float: left; }

.foto a {
  display: block;
  position: relative;
  max-width: 250px;
  margin-right: 26px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  vertical-align: top; }
  .foto a:hover {
    color: #f2780c;
    text-decoration: none; }
  .foto a:hover:after {
    display: block; }
  .foto a:after {
    position: absolute;
    left: 0;
    top: 29px;
    content: '';
    background-color: rgba(255, 255, 255, 0.4);
    width: 250px;
    height: 190px;
    display: none; }

.foto img {
  width: 100%;
  height: 100%;
  border: 5px solid #ceeafb; }

.in-foto a img {
  border: none; }

.in-foto a:hover:after {
  display: none; }

.bredcrambs-foto {
  font-size: 25px;
  color: #fff;
  text-transform: uppercase; }

body .fancybox-wrap {
  max-width: 700px;
  width: 100% !important;
  background-color: transparent !important; }

body .fancybox-inner {
  width: auto !important; }

body .fancybox-skin {
  background: #ceeafb; }

.video {
  max-width: 375px;
  width: 100%;
  margin-right: 25px;
  min-height: 250px;
  float: left; }
  .video h3 {
    color: #fff;
    text-transform: uppercase; }
  .video video {
    width: 100%;
    margin-right: 10px;
    background-color: #000;
    border: 5px solid #ceeafb;
    height: 250px; }

.item-path {
  padding: 5px; }
  .item-path h2 {
    font-size: 18px;
    color: #1a1a18;
    font-weight: bold;
    text-transform: uppercase; }
  .item-path p {
    padding: 0;
    letter-spacing: -0.3px;
    text-align: justify; }

.coordinate {
  color: #f2780c; }

.maps {
  border-left: 5px solid #ceeafb; }

.item-maps {
  padding-left: 10px;
  padding-bottom: 15px; }
  .item-maps h3 {
    font-size: 18px;
    text-align: justify;
    letter-spacing: -1.4px;
    text-transform: uppercase;
    color: #10453d; }
  .item-maps img {
    width: 100%;
    height: 270px; }

.item-maps_color h3 {
  color: #f2780c; }

.contact-item {
  padding-top: 10px; }
  .contact-item p {
    color: #fff;
    font-size: 19px; }
  .contact-item span {
    display: block;
    color: #f2780c;
    font-size: 24px; }

body .forma1 {
  margin-top: 20px; }
  body .forma1 h3 {
    color: #fff; }

.accommo-contain {
  color: #fff; }
  .accommo-contain button {
    background-color: #f2780c;
    color: #fff;
    width: 100%;
    margin-bottom: 10px;
    max-width: 200px;
    margin-right: 15px;
    float: right;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold; }
    .accommo-contain button:hover {
      color: #10453d; }
  .accommo-contain tt {
    margin-top: 25px;
    display: block; }
  .accommo-contain img {
    float: right;
    width: 100%;
    max-width: 375px;
    height: 302px; }

.accommo-contain .sum-slider {
  margin-top: 59px;
  position: relative; }

.acomo-menu {
  display: inline-block; }
  .acomo-menu li {
    float: left; }
  .acomo-menu a {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    position: relative;
    display: block;
    max-width: 383px;
    margin: 0 10px;
    color: #fff;
    text-shadow: 0px 0px 10px #2b1501, 0em 0em 0em #2b1501; }
    .acomo-menu a:after {
      position: absolute;
      left: 0;
      top: 48px;
      content: '';
      background-color: rgba(255, 255, 255, 0.4);
      width: 100%;
      height: 85%;
      display: none; }
    .acomo-menu a:hover {
      text-decoration: none;
      color: #ceeafb; }
    .acomo-menu a:hover:after {
      display: block; }
    .acomo-menu a img {
      border: 5px solid #ceeafb;
      width: 100%; }

.acomo-menu ul li:first-child a {
  color: #10453d; }
  .acomo-menu ul li:first-child a:hover {
    color: #ceeafb; }

.acomo-menu ul li:last-child a {
  color: #f2780c; }
  .acomo-menu ul li:last-child a:hover {
    color: #ceeafb; }

.price-item {
  margin-bottom: 15px;
  padding-left: 8px; }
  .price-item h2 {
    font-weight: bold;
    text-transform: uppercase; }
  .price-item p {
    padding: 0;
    font-size: 13.4px;
    line-height: 18px; }
  .price-item span {
    color: #10453d;
    font-size: 13.4px;
    display: block; }
  .price-item b {
    font-size: 15px;
    letter-spacing: -1px; }
  .price-item a {
    color: #f2780c;
    font-weight: bold;
    display: inline-block;
    width: 100%; }
  .price-item tt {
    display: block;
    font-weight: bold; }

.dowload {
  display: inline-block;
  color: #10453d;
  text-transform: uppercase;
  position: relative;
  font-weight: bold; }
  .dowload:hover {
    color: #000; }
  .dowload:last-child:after {
    position: absolute;
    content: '';
    right: -40px;
    top: 0;
    width: 30px;
    height: 35px;
    background-image: url("../img/dowload.png");
    background-repeat: no-repeat;
    background-size: 100%; }

.color-price {
  color: #f2780c; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .wrapper {
    width: auto; }
  .pad {
    padding: 50px 5px !important; }
  footer {
    text-align: center; }
    footer .wrapper {
      width: auto; }
    footer ul {
      float: none;
      display: inline-block;
      text-align: center; }
      footer ul li {
        margin-bottom: 10px;
        margin-right: 0;
        float: none; }
    footer .gs {
      float: none;
      display: block; } }

/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .pad {
    padding: 20px 5px !important; } }

/* ============================ form css =========================== */
#modal_callback_ok h3, #modal_callback_ok h4 {
  font: 30px RobotoRegular,Arial,sans-serif;
  text-align: center; }

#modal_callback_ok h4 {
  font-weight: 700; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 15px;
  display: block;
  right: 18px;
  height: 20px;
  color: #FF6565;
  cursor: default; }

.er_border, .error {
  border: 1px solid red !important; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  color: #000;
  font-style: italic;
  font-size: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: left; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -6px;
  opacity: 1; }

.mess_error {
  position: absolute;
  z-index: 10;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  line-break: auto;
  padding: 5px 10px;
  opacity: 1;
  left: 0;
  top: 60px;
  width: 97%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #FF6565; }

.tooltip-inner {
  padding: 3px 8px;
  color: #FFF;
  text-align: center;
  background-color: #FF6565;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 15px; }

.field {
  position: relative;
  float: left; }

.section8 .tooltip-arrow {
  border-bottom-color: #000; }

.section8 .tooltip-inner {
  background-color: #000; }

.jb_input .field {
  width: 100%; }

.jb_input {
  /*   overflow: hidden;*/ }

.jb_input .mess_error {
  position: relative;
  width: 100%;
  padding: 5px 0px;
  top: -5px;
  float: left; }

/* ============================ form css media =========================== */
@media only screen and (max-width: 992px) {
  .allert, .allert_tell {
    top: 0; }
  .field {
    float: none; }
  .mess_error {
    position: relative;
    width: 215px;
    margin: 0 auto;
    top: 0;
    margin-bottom: 15px; } }

@media only screen and (max-width: 320px) {
  #modal_callback_ok {
    height: 200px; }
  .fancybox-inner {
    width: auto !important; }
  .fancybox-close {
    top: 0 !important;
    right: 0 !important; } }
